/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #ee5f53
$textColor = #173353
$borderColor = #40979d
$codeBgColor = #173353
// $borderColor = #d8d7c1
// $codeBgColor = #40979d
